<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 style="text-align: center; font-size: 32px" class="panel-title">BrandsList</h1>
			<a class="btn btn-success" th:href="@{/brands/novo}">New Brand</a>
		</div>
	<div class="panel-body">
	<!-- <input type="hidden" id= "csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}" /> -->
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Area</th>
					<th colspan ="2"> Action </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="brand : ${brands}">
					<td th:text="${brand.idBrand}">xxx</td>
					<td th:text="${brand.nome_marca}">xxx</td>
					<td th:text="${brand.ramo_atividade}">xxxx</td>
					<td><a th:href="@{/brands/alterar/}+${brand.idBrand}" class="glyphicon glyphicon-pencil"></a></td>					
					<td><a class="btn btn-link btn-xs" data-toggle="modal"
						data-target="#confirmacaoExclusaoModal"
						th:attr="data-codigo=${brand.idBrand}, data-descricao=${brand.nome_marca}, data-model='brand'"
						title="Excluir" rel="tooltip" data-placement="top">
						  <span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>