<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">ProductsList</h1>
			<a class="btn btn-primary" th:href="@{/products/novo}">New Product</a>
		</div>
	<div class="panel-body">
	<!-- <input type="hidden" id= "csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}" /> -->
		<table class="table">
			<thead>
				<tr>
					<th>Brand</th>
					<th>Description</th>
					<th>Price</th>
					<th colspan ="2"> Action </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.brand.nome_marca}">xxxxxxxx</td>
					<td th:text="${product.descricao}">xxxxxxxxx</td>
					<td th:text="${product.valor}">xx.xx</td>			
					<td><a th:href="@{/products/{idProduct}(idProduct=${product.idProduct})}" class="glyphicon glyphicon-pencil"></a></td>
					
					<td><a class="btn btn-link btn-xs" data-toggle="modal"
						data-target="#confirmacaoExclusaoModal"
						th:attr="data-codigo=${product.idProduct}, data-descricao=${product.descricao}, data-model='product'"
						title="Excluir" rel="tooltip" data-placement="top"> 
						  <span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>